*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.top-banner{
    width: 100%;
    height: 100vh;
    background-image: url(./images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-banner .top-banner-inner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8),transparent);
    /* */
}
.top-banner .top-banner-inner div{
    padding-top: 200px;
    padding-left: 250px;
}
.top-banner .top-banner-inner div h1{
    color: #fff;
    font-size: 50px;
}
.top-banner .top-banner-inner div p{
    color: #fff;
    width: 550px;
    font-size: 20px;
    padding-bottom: 50px;
}
.btn{
    text-decoration: none;
    background: red;
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.serviver-sec{
    display: flex;
    width: 100%;
    height: 100vh;
}
.serviver-sec .half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 170px;
}
.serviver-sec .half-width img{
    width: 90%;
}
.serviver-sec .half-width h1{
    color: #000;
    font-size: 40px;
}
.serviver-sec .half-width p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.63);
    padding-top: 20px;
    padding-bottom: 30px;
    width: 500px;
}
.dependet{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}
.dependet h1{
    font-size: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.dependet p{
    font-size: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0 40px 0;
}
.comment-box{
    width: 100%;
    height: 100%;
}
.comment-box .inner-comment-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-box .inner-comment{
    width: 30%;
    height: 250px;
    background: rgba(132, 133, 141, 0.1);
    display: flex;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}
.comment-box .inner-comment p{
    text-align: left;
}
.comment-box .inner-comment div{
    margin: 20px;
}
.images{
    margin-top: 150px;
}
.images .m-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images .m-images img{
    padding: 0 12px;
}
.reword-sec{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}
.reword-sec h1{
    text-align: center;
    font-size: 45px;
}
.reword-sec p{
    text-align: center;
    font-size: 19px;
    padding: 20px 0 30px;
}
.zaqat-sec{
    display: flex;
    width: 100%;
    justify-content: center;
}
.zaqat-sec .zaqat-found{
    width: 363px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 0 10px;
}
.zaqat-sec .zaqat-found .textes{
    padding-left: 15px;
}
.zaqat-sec .zaqat-found p{
    text-align: left;
}
.zaqat-sec .zaqat-found h4{
    font-size: 18px;
    text-decoration: underline;
    color: tomato;
    margin-bottom: 20px;
}
footer{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    background: #000;
}
footer h2{
    color: #ff6742;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}
footer p{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}